# Configuration file

client {
    # Latest builds are fewer bugs! [default: true]
    B:"Enable Version Checker"=false
}


"exp events" {

    " requires exp event handler = true" {
        # How much each EXP orb should heal the player. Recommended: 0.1 [range: 0.0 ~ 20.0, default: 0.0]
        S:"XP Healing Value"=0.0

        # Multiplies the value of experience for each orb. Whole numbers only. [range: 0 ~ 500, default: 1]
        I:"XP Value Multiplier"=1
    }

}


handlers {
    # Enables EXP Events [default: false]
    B:"EXP Event Handler"=false

    # Enables Interaction Events [default: false]
    B:"Item/Block Interaction Handler"=false

    # Enables Mob Events [default: false]
    B:"Mob Event Handler"=false

    # Enables sapling auto-replant [default: false]
    B:"Sapling Replant"=true

    # Enables Sleeping Events. [default: false]
    B:"Sleep Event Handler"=true
}


"item/block interaction events" {

    " requires item/block interaction event handler = true" {
        # Sets player spawn point on top of bed. DOES NOT GO AWAY WHEN BED IS DESTROYED! [default: false]
        B:"Clicking Bed Sets Spawn Point"=true

        # Disables crawling into bed. [default: false]
        B:"Disable Sleeping In Bed"=false

        # Players will die instantly when taking drowning damage [default: false]
        B:"Hardcore Air"=false

        # Players will die when taking starvation damage [default: false]
        B:"Hardcore Hunger"=false
    }

}


"mob events" {

    " requires mob event handler = true" {
        #  [default: false]
        B:"Creeper Death Explosion Destroys Terrain"=false

        # If larger than 0, creepers will explode when they die. Normal Creeper Explosion = 3 [range: 0 ~ 9, default: 0]
        I:"Creeper Death Explosion Strength"=0

        #  [default: false]
        B:"Mobs Get Strength Boost When Damaged By Player"=false
    }

}


"sleeping events" {

    " requires sleep event handler = true" {
        # How much sleeping should heal the player. 1 = half heart [range: 0.0 ~ 20.0, default: 0.0]
        S:"Health restored after sleeping"=0.0
    }

}


